config/*
.env
data
openapi-docs
static
iqm-releases-mirror
minio-data
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.sqlite
.vscode/
.idea/
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
*.egg-info/
build/
dist/